.recommended{
    margin-left: 260px;
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    &__products{
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
    }

    &__btn{
        box-shadow: none;
        width: fit-content;
        height: auto;
        padding: 0.8rem 1rem;
    }
}